* {
    box-sizing: border-box; 
}
.grid {
    width: 100%; 
    max-width: 1200px; /*Chieu rong la 100% nhung k bao h duoc vuot qua 1200px */ 
    margin: 0 auto; 
    display: block; 
} 
.row {
    display: flex; 
    flex-wrap: wrap; 
    margin-right: -4px; 
    margin-left: -4px;
}
.row.no-gutters {
    margin-left: 0; 
    margin-right: 0;
}
.col {
    padding-right: 4px; 
    padding-left: 4px; 
}
.row.no-gutters .col {
    padding-left: 0; 
    padding-right: 0;
}
.s0 {
    display: none; 
} 
.s1 {
    flex: 0 0 8.333333%; 
    max-width: 8.333333%; 
} 
.s2 {
    flex: 0 0 16.666667%; 
    max-width: 16.666667%; 
} 
.s3 {
    flex: 0 0 25%; 
    max-width: 25%; 
} 
.s4 {
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
} 
.s5 {
    flex: 0 0 41.666667%; 
    max-width: 41.666667%; 
} 
.s6 {
    flex: 0 0 50%; 
    max-width: 50%;  
} 
.s7 {
    flex:  0 0 58.333333%; 
    max-width: 58.333333%; 
} 
.s8 {
    flex: 0 0 66.666667%; 
    max-width: 66.666667%; 
} 
.s9 {
    flex: 0 0 75%; 
    max-width: 75%; 
}
.s10 {
    flex: 0 0 83.333333%; 
    max-width: 83.333333%; 
} 
.s11 {
    flex: 0 0 91.666667%; 
    max-width: 91.666667;
} 
.s12 {
    flex: 0 0 100%; 
    max-width: 100%; 
}

.s-o-1 { 
    margin-left: 8.333333%; 
} 
.s-o-2 { 
    margin-left: 16.666667%; 
} 
.s-o-3 { 
    margin-left: 25%; 
} 
.s-o-4 { 
    margin-left: 33.333333%;
} 
.s-o-5 { 
    margin-left: 41.666667%; 
} 
.s-o-6 { 
    margin-left: 50%;  
} 
.s-o-7 { 
    margin-left: 58.333333%; 
} 
.s-o-8 { 
    margin-left: 66.666667%; 
} 
.s-o-9 { 
    margin-left: 75%; 
}
.s-o-10 { 
    margin-left: 83.333333%; 
} 
.s-o-11 { 
    margin-left: 91.666667;
} 
/*tablet */ 
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .grid {
        width: 664px; 
    }
    .row {
        margin-left: -8px; 
        margin-right: -8px;
    }
    .col {
        padding-left: 8px; 
        padding-right: 8px; 
    }
/*-----------------------------------------*/ 
    .m0 {
        display: none; 
    } 
    .m1 {
        flex: 0 0 8.333333%; 
        max-width: 8.333333%; 
    } 
    .m2 {
        flex: 0 0 16.666667%; 
        max-width:  16.666667%; 
    } 
    .m3 {
        flex: 0 0 25%; 
        max-width: 25%; 
    } 
    .m4 {
        flex: 0 0 33.333333%; 
        max-width: 33.333333%;
    } 
    .m5 {
        flex: 0 0 41.666667%; 
        max-width: 41.666667%; 
    } 
    .m6 {
        flex: 0 0 50%; 
        max-width: 50%;  
    } 
    .m7 {
        flex:  0 0 58.333333%; 
        max-width: 58.333333%; 
    } 
    .m8 {
        flex: 0 0 66.666667%; 
        max-width: 66.666667%; 
    } 
    .m9 {
        flex: 0 0 75%; 
        max-width: 75%; 
    }
    .m10 {
        flex: 0 0 83.333333%; 
        max-width: 83.333333%; 
    } 
    .m11 {
        flex: 0 0 91.666667%; 
        max-width: 91.666667;
    } 
    .m12 {
        flex: 0 0 100%; 
        max-width: 100%; 
    }

    .m-o-1 { 
        margin-left: 8.333333%; 
    } 
    .m-o-2 { 
        margin-left: 16.666667%; 
    } 
    .m-o-3 { 
        margin-left: 25%; 
    } 
    .m-o-4 { 
        margin-left: 33.333333%;
    } 
    .m-o-5 { 
        margin-left: 41.666667%; 
    } 
    .m-o-6 { 
        margin-left: 50%;  
    } 
    .m-o-7 { 
        margin-left: 58.333333%; 
    } 
    .m-o-8 { 
        margin-left: 66.666667%; 
    } 
    .m-o-9 { 
        margin-left: 75%; 
    }
    .m-o-10 { 
        margin-left: 83.333333%; 
    } 
    .m-o-11 { 
        margin-left: 91.666667;
    } 
}/*PC low resolution */ 
@media only screen and (min-width: 1113px) {
    .row {
        margin-left: -12px; 
        margin-right: -12px; 
    }
    .col {
        padding-left: 12px; 
        padding-right: 12px; 
    }
}
/* > PC */ 
@media only screen and (min-width: 1024px) and (max-width: 1800px) {
    .grid {
        width: 984px; 
    }
    .row {
        margin-left: -12px; 
        margin-right: -12px; 
    }
    .col {
        padding-left: 12px; 
        padding-right: 12px; 
    }
    .l0 {
        display: none;
    }
    .l1 {
        flex: 0 0 8.333333%; 
        max-width: 8.333333%; 
    } 
    .l2 {
        flex: 0 0 16.666667%; 
        max-width: 16.666667%; 
    } 
    .l3 {
        flex: 0 0 25%; 
        max-width: 25%; 
    } 
    .l4 {
        flex: 0 0 33.333333%; 
        max-width: 33.333333%;
    } 
    .l5 {
        flex: 0 0 41.666667%; 
        max-width: 41.666667%; 
    } 
    .l6 {
        flex: 0 0 50%; 
        max-width: 50%;  
    } 
    .l7 {
        flex:  0 0 58.333333%; 
        max-width: 58.333333%; 
    } 
    .l8 {
        flex: 0 0 66.666667%; 
        max-width: 66.666667%; 
    } 
    .l9 {
        flex: 0 0 75%; 
        max-width: 75%; 
    }
    .l10 {
        flex: 0 0 83.333333%; 
        max-width: 83.333333%; 
    } 
    .l11 {
        flex: 0 0 91.666667%; 
        max-width: 91.666667;
    } 
    .l12 {
        flex: 0 0 100%; 
        max-width: 100%; 
    }

    .l-o-1 { 
        margin-left: 8.333333%; 
    } 
    .l-o-2 { 
        margin-left: 16.666667%; 
    } 
    .l-o-3 { 
        margin-left: 25%; 
    } 
    .l-o-4 { 
        margin-left: 33.333333%;
    } 
    .l-o-5 { 
        margin-left: 41.666667%; 
    } 
    .l-o-6 { 
        margin-left: 50%;  
    } 
    .l-o-7 { 
        margin-left: 58.333333%; 
    } 
    .l-o-8 { 
        margin-left: 66.666667%; 
    } 
    .l-o-9 { 
        margin-left: 75%; 
    }
    .l-o-10 { 
        margin-left: 83.333333%; 
    } 
    .l-o-11 { 
        margin-left: 91.666667;
    } 
}