* {
    box-sizing: border-box; 
} 
.row {
    background-color: #EAEAEA; 

}
.content {
    background-clip: content-box; 
    width: 100%; 
    height: 320px; 
    margin-bottom: 8px;
    background-color: #fff; 
}
.content__background {
    width: 100%; 
    height: 50%; 
    background-size: contain; 
    background-position: center;
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm2yopu8h4v336@resize_w900_nl.webp);
    background-repeat: no-repeat;
}

.content__info {
    height: 50%; 
    padding: 12px 6px; 
}
.info__name {
    line-height: 22px; 
    font-size: 17px; 
    margin-bottom: 10px; 
}
.span__price__buy {
    height: 50%; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.price {
    font-size: 24px; 
    color: red; 
    font-weight: 600;
}
.buy {
    padding: 16px 10px;  
    border-radius: 5px; 
    background-color: red;  
    border: none; 
    font-size: 14px; 
    color: #fff; 
    font-weight: 500;
}